.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 25%;
    margin-bottom: 10px;
}
.update-user-form input, textarea, select{
    display: block;
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid gray; */
    border: none;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;

}